   @{
        ViewBag.Title = "Connexion";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @Styles.Render("~/Content/LoginStyle.css")
    <div class="container">
        <div class="wrapper">
            @using (Html.BeginForm("Login", "user", FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="form-signin-heading">Authentification</h3>
                <hr class="colorgraph"><br>
                <center>
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="E-mail.." required autofocus />
                </div>
                </center>
                <center>
                    <div class="form-group">

                        <input type="password" class="form-control" name="password" placeholder="Mot de passe.." required="" />

                    </div>
                </center>
                    <div class="form-group">
                        <label style="color:white;" for="signupAs">S'authentifier en tant que :</label>
                        <center>
                            <select name="type" class="form-control">
                                <option value="Administration">Personel d'administration</option>
                                <option value="Parent">Parent</option>
                                <option value="Administrateur">Administrateur</option>
                                <option value="Enseignant">Enseignant</option>
                            </select>
                        </center>
                    </div>
                <center>
                <input class="btn btn-md btn-success" name="Submit" value="S'authentifier" type="Submit" /> <br/><br/>
                    <div class="form-group">
                        <label for="register">Vous n'avez pas encore un compte ?</label>
                        @Html.ActionLink("inscrivez-vous", "Register", "Account", new { area = "" }, new { @class = "" })
                    </div>
                    </center>
            }
        </div>
    </div>