@{ 
    ViewBag.Title = "Èvalutaions Individuelles";
    Layout = "~/Views/Enseignant/_Layout.cshtml";
}
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Discipline #</th>
                    <th>Nom de la discipline</th>
                    @*<th>Order Time</th>
                        <th>Amount (USD)</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var discipline in Model)
                    {
                        <tr>
                            <td>@discipline.Id</td>
                            <td>@discipline.nomDiscipline</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>
    </div>